<div class="container-fluid">
  <div class="row flex-nowrap">
    <!-- Sidebar -->
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
      <div
        class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-3 text-white min-vh-100"
      >
        <ul
          class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start w-100"
        >
          <li class="nav-item w-100">
            <a
              routerLink="/dashboard/blogs"
              class="nav-link text-white w-100 sidebar-link"
              [ngClass]="{ active: activeRoute('/dashboard/blogs') }"
            >
              <i class="fs-5 bi-house"></i>
              <span class="ms-2 d-none d-sm-inline">Home</span>
            </a>
          </li>
          <li class="w-100">
            <a
              routerLink="/dashboard/myblogs"
              class="nav-link text-white w-100 sidebar-link"
              [ngClass]="{ active: activeRoute('/dashboard/myblogs') }"
            >
              <i class="fs-5 bi-table"></i>
              <span class="ms-2 d-none d-sm-inline">My Blogs</span>
            </a>
          </li>
          <li class="w-100">
            <a
              routerLink="/dashboard/notifications"
              class="nav-link text-white w-100 sidebar-link"
              [ngClass]="{ active: activeRoute('/dashboard/notifications') }"
            >
              <i class="fs-5 bi-bell"></i>
              <span class="ms-2 d-none d-sm-inline">Notifications</span>
            </a>
          </li>
          <li class="w-100">
            <a
              routerLink="/dashboard/analytics"
              class="nav-link text-white w-100 sidebar-link"
              [ngClass]="{ active: activeRoute('/dashboard/analytics') }"
            >
              <i class="fs-5 bi-bell"></i>
              <span class="ms-2 d-none d-sm-inline">Analytics</span>
            </a>
          </li>
        </ul>
       
      </div>
    </div>
    <!-- Main Content -->
    <div class="col py-3"><router-outlet></router-outlet></div>
  </div>
</div>
