.card {
    border-radius: 10px;
  }
  
  .card-title {
    font-weight: bold;
  }
  
  .card-text {
    font-size: 1.25rem;
  }
  
  .bg-light {
    background-color: #f8f9fa !important;
  }
  
  h2 {
    font-size: 2rem;
    font-weight: 600;
  }
  